In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import chromedriver_autoinstaller
from selenium import webdriver

In [2]:
chromedriver_autoinstaller.install()

browser = webdriver.Chrome()

In [99]:
browser.get('https://www.timeshighereducation.com/world-university-rankings/2023/world-ranking/')

In [100]:
soup = BeautifulSoup(browser.page_source, 'lxml')

In [101]:
rows = soup.find_all('tr', class_='js-row')

In [102]:
rows

[<tr class="odd row-1 js-row" data-nid="468" role="row"><td class="rank sorting_1 sorting_2">1</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/university-oxford">University of Oxford</a><div class="location"><span><a href="/location/a4zw0000000GnxQAAS">United Kingdom</a></span></div></td><td class="stats stats_number_students">20,965</td><td class="stats stats_student_staff_ratio">10.6</td><td class="stats stats_pc_intl_students">42%</td><td class="stats stats_female_male_ratio">48 : 52</td></tr>,
 <tr class="even row-2 js-row" data-nid="466" role="row"><td class="rank sorting_1 sorting_2">2</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/harvard-university">Harvard University</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">21,887</td><td class="stats stats_student_staff_ratio">9.6</td><td class="stats stats_pc_intl_students">25%</td><td class="stats stats_female_male_ratio">50 : 50</td></tr>,
 <tr class="odd row-3 js-row" data-nid="470" role="row"><td class="rank sorting_1 sorting_2">=3</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/university-cambridge">University of Cambridge</a><div class="location"><span><a href="/location/a4zw0000000GnxQAAS">United Kingdom</a></span></div></td><td class="stats stats_number_students">20,185</td><td class="stats stats_student_staff_ratio">11.3</td><td class="stats stats_pc_intl_students">39%</td><td class="stats stats_female_male_ratio">47 : 53</td></tr>,
 <tr class="even row-4 js-row" data-nid="467" role="row"><td class="rank sorting_1 sorting_2">=3</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/stanford-university">Stanford University</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">16,164</td><td class="stats stats_student_staff_ratio">7.1</td><td class="stats stats_pc_intl_students">24%</td><td class="stats stats_female_male_ratio">46 : 54</td></tr>,
 <tr class="odd row-5 js-row" data-nid="471" role="row"><td class="rank sorting_1 sorting_2">5</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/massachusetts-institute-technology">Massachusetts Institute of Technology</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">11,415</td><td class="stats stats_student_staff_ratio">8.2</td><td class="stats stats_pc_intl_students">33%</td><td class="stats stats_female_male_ratio">40 : 60</td></tr>,
 <tr class="even row-6 js-row" data-nid="128779" role="row"><td class="rank sorting_1 sorting_2">6</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/california-institute-technology-caltech">California Institute of Technology</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">2,237</td><td class="stats stats_student_staff_ratio">6.2</td><td class="stats stats_pc_intl_students">34%</td><td class="stats stats_female_male_ratio">37 : 63</td></tr>,
 <tr class="odd row-7 js-row" data-nid="469" role="row"><td class="rank sorting_1 sorting_2">7</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/princeton-university">Princeton University</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">8,279</td><td class="stats stats_student_staff_ratio">8.0</td><td class="stats stats_pc_intl_students">23%</td><td class="stats stats_female_male_ratio">46 : 54</td></tr>,
 <tr class="even row-8 js-row" data-nid="474" role="row"><td class="rank sorting_1 sorting_2">8</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/university-california-berkeley">University of California, Berkeley</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">40,921</td><td class="stats stats_student_staff_ratio">18.4</td><td class="stats stats_pc_intl_students">24%</td><td class="stats stats_female_male_ratio">52 : 48</td></tr>,
 <tr class="odd row-9 js-row" data-nid="475" role="row"><td class="rank sorting_1 sorting_2">9</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/yale-university">Yale University</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">13,482</td><td class="stats stats_student_staff_ratio">5.9</td><td class="stats stats_pc_intl_students">21%</td><td class="stats stats_female_male_ratio">52 : 48</td></tr>,
 <tr class="even row-10 js-row" data-nid="472" role="row"><td class="rank sorting_1 sorting_2">10</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/imperial-college-london">Imperial College London</a><div class="location"><span><a href="/location/a4zw0000000GnxQAAS">United Kingdom</a></span></div></td><td class="stats stats_number_students">18,545</td><td class="stats stats_student_staff_ratio">11.2</td><td class="stats stats_pc_intl_students">61%</td><td class="stats stats_female_male_ratio">40 : 60</td></tr>,
 <tr class="odd row-11 js-row" data-nid="476" role="row"><td class="rank sorting_1 sorting_2">=11</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/columbia-university">Columbia University</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">21,781</td><td class="stats stats_student_staff_ratio">4.5</td><td class="stats stats_pc_intl_students">38%</td><td class="stats stats_female_male_ratio">n/a</td></tr>,
 <tr class="even row-12 js-row" data-nid="479" role="row"><td class="rank sorting_1 sorting_2">=11</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/eth-zurich">ETH Zurich</a><div class="location"><span><a href="/location/a4zw0000000GnxqAAC">Switzerland</a></span></div></td><td class="stats stats_number_students">21,665</td><td class="stats stats_student_staff_ratio">14.8</td><td class="stats stats_pc_intl_students">41%</td><td class="stats stats_female_male_ratio">33 : 67</td></tr>,
 <tr class="odd row-13 js-row" data-nid="473" role="row"><td class="rank sorting_1 sorting_2">13</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/university-chicago">The University of Chicago</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">15,366</td><td class="stats stats_student_staff_ratio">6.0</td><td class="stats stats_pc_intl_students">36%</td><td class="stats stats_female_male_ratio">47 : 53</td></tr>,
 <tr class="even row-14 js-row" data-nid="480" role="row"><td class="rank sorting_1 sorting_2">14</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/university-pennsylvania">University of Pennsylvania</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">21,453</td><td class="stats stats_student_staff_ratio">6.3</td><td class="stats stats_pc_intl_students">23%</td><td class="stats stats_female_male_ratio">53 : 47</td></tr>,
 <tr class="odd row-15 js-row" data-nid="478" role="row"><td class="rank sorting_1 sorting_2">15</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/johns-hopkins-university">Johns Hopkins University</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">17,584</td><td class="stats stats_student_staff_ratio">4.7</td><td class="stats stats_pc_intl_students">29%</td><td class="stats stats_female_male_ratio">53 : 47</td></tr>,
 <tr class="even silver enhanced row-16 js-row" data-nid="535" role="row"><td class="rank sorting_1 sorting_2">16</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/tsinghua-university">Tsinghua University</a><div class="location"><span><a href="/location/a4zw0000000GnwKAAS">China</a></span></div><a class="btn btn-primary btn-margin btn-sm" data-mz="" data-position="explore" href="/world-university-rankings/tsinghua-university">Explore</a></td><td class="stats stats_number_students">38,324</td><td class="stats stats_student_staff_ratio">11.6</td><td class="stats stats_pc_intl_students">10%</td><td class="stats stats_female_male_ratio">n/a</td></tr>,
 <tr class="odd gold enhanced row-17 js-row" data-nid="514" role="row"><td class="rank sorting_1 sorting_2">17</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/peking-university">Peking University</a><div class="location"><span><a href="/location/a4zw0000000GnwKAAS">China</a></span></div><a class="btn btn-primary btn-margin btn-sm" data-mz="" data-position="explore" href="/world-university-rankings/peking-university">Explore</a></td><td class="stats stats_number_students">31,994</td><td class="stats stats_student_staff_ratio">10.3</td><td class="stats stats_pc_intl_students">19%</td><td class="stats stats_female_male_ratio">n/a</td></tr>,
 <tr class="even row-18 js-row" data-nid="483" role="row"><td class="rank sorting_1 sorting_2">18</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/university-toronto">University of Toronto</a><div class="location"><span><a href="/location/a4zw0000000GnyDAAS">Canada</a></span></div></td><td class="stats stats_number_students">77,468</td><td class="stats stats_student_staff_ratio">25.8</td><td class="stats stats_pc_intl_students">26%</td><td class="stats stats_female_male_ratio">56 : 44</td></tr>,
 <tr class="odd silver enhanced row-19 js-row" data-nid="504" role="row"><td class="rank sorting_1 sorting_2">19</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/national-university-singapore">National University of Singapore</a><div class="location"><span><a href="/location/a4zw0000000GnwXAAS">Singapore</a></span></div><a class="btn btn-primary btn-margin btn-sm" data-mz="" data-position="explore" href="/world-university-rankings/national-university-singapore">Explore</a></td><td class="stats stats_number_students">32,337</td><td class="stats stats_student_staff_ratio">19.8</td><td class="stats stats_pc_intl_students">25%</td><td class="stats stats_female_male_ratio">51 : 49</td></tr>,
 <tr class="even row-20 js-row" data-nid="484" role="row"><td class="rank sorting_1 sorting_2">20</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/cornell-university">Cornell University</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">24,027</td><td class="stats stats_student_staff_ratio">10.3</td><td class="stats stats_pc_intl_students">26%</td><td class="stats stats_female_male_ratio">51 : 49</td></tr>,
 <tr class="odd row-21 js-row" data-nid="477" role="row"><td class="rank sorting_1 sorting_2">21</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/university-california-los-angeles">University of California, Los Angeles</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">42,434</td><td class="stats stats_student_staff_ratio">9.7</td><td class="stats stats_pc_intl_students">16%</td><td class="stats stats_female_male_ratio">56 : 44</td></tr>,
 <tr class="even row-22 js-row" data-nid="481" role="row"><td class="rank sorting_1 sorting_2">22</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/ucl">UCL</a><div class="location"><span><a href="/location/a4zw0000000GnxQAAS">United Kingdom</a></span></div></td><td class="stats stats_number_students">36,790</td><td class="stats stats_student_staff_ratio">10.3</td><td class="stats stats_pc_intl_students">60%</td><td class="stats stats_female_male_ratio">59 : 41</td></tr>,
 <tr class="odd row-23 js-row" data-nid="482" role="row"><td class="rank sorting_1 sorting_2">23</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/university-michigan-ann-arbor">University of Michigan-Ann Arbor</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">45,912</td><td class="stats stats_student_staff_ratio">8.2</td><td class="stats stats_pc_intl_students">17%</td><td class="stats stats_female_male_ratio">50 : 50</td></tr>,
 <tr class="even row-24 js-row" data-nid="508" role="row"><td class="rank sorting_1 sorting_2">24</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/new-york-university">New York University</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">36,337</td><td class="stats stats_student_staff_ratio">9.8</td><td class="stats stats_pc_intl_students">42%</td><td class="stats stats_female_male_ratio">57 : 43</td></tr>,
 <tr class="odd row-25 js-row" data-nid="487" role="row"><td class="rank sorting_1 sorting_2">25</td><td class="name namesearch"><a class="ranking-institution-title" data-mz="" data-position="title" href="/world-university-rankings/duke-university">Duke University</a><div class="location"><span><a href="/location/a4zw0000000GnyEAAS">United States</a></span></div></td><td class="stats stats_number_students">16,091</td><td class="stats stats_student_staff_ratio">4.2</td><td class="stats stats_pc_intl_students">24%</td><td class="stats stats_female_male_ratio">52 : 48</td></tr>]

In [110]:
data = []
for row in rows:
    
    rank = row.find('td', class_='rank').text
    univ = row.find('a', class_='ranking-institution-title').text.strip()
    country = row.find('div', class_='location').text
    fte = row.find('td', class_='stats_number_students').text
    students_staff = row.find('td', class_='stats_student_staff_ratio').text
    intr_students = row.find('td', class_='stats_pc_intl_students').text
    fem_male = row.find('td', class_='stats_female_male_ratio').text
    
    rich = {
        'Rank' : rank,
        'University' : univ,
        'Country' : country,
        'No. of FTE Students' : fte,
        'No. of Students per Staff' : students_staff,
        'International Students' : intr_students,
        'Female : Male Ratio' : fem_male
    }
    data.append(rich)

In [111]:
pd.DataFrame(data)

,Rank,University,Country,No. of FTE Students,No. of Students per Staff,International Students,Female : Male Ratio
0,1,University of Oxford,United Kingdom,"20,965",10.6,42%,48 : 52
1,2,Harvard University,United States,"21,887",9.6,25%,50 : 50
2,=3,University of Cambridge,United Kingdom,"20,185",11.3,39%,47 : 53
3,=3,Stanford University,United States,"16,164",7.1,24%,46 : 54
4,5,Massachusetts Institute of Technology,United States,"11,415",8.2,33%,40 : 60
5,6,California Institute of Technology,United States,"2,237",6.2,34%,37 : 63
6,7,Princeton University,United States,"8,279",8.0,23%,46 : 54
7,8,"University of California, Berkeley",United States,"40,921",18.4,24%,52 : 48
8,9,Yale University,United States,"13,482",5.9,21%,52 : 48
9,10,Imperial College London,United Kingdom,"18,545",11.2,61%,40 : 60
10,=11,Columbia University,United States,"21,781",4.5,38%,n/a
11,=11,ETH Zurich,Switzerland,"21,665",14.8,41%,33 : 67
12,13,The University of Chicago,United States,"15,366",6.0,36%,47 : 53
13,14,University of Pennsylvania,United States,"21,453",6.3,23%,53 : 47
14,15,Johns Hopkins University,United States,"17,584",4.7,29%,53 : 47
15,16,Tsinghua University,China,"38,324",11.6,10%,n/a
16,17,Peking University,China,"31,994",10.3,19%,n/a
17,18,University of Toronto,Canada,"77,468",25.8,26%,56 : 44
18,19,National University of Singapore,Singapore,"32,337",19.8,25%,51 : 49
19,20,Cornell University,United States,"24,027",10.3,26%,51 : 49
20,21,"University of California, Los Angeles",United States,"42,434",9.7,16%,56 : 44
21,22,UCL,United Kingdom,"36,790",10.3,60%,59 : 41
22,23,University of Michigan-Ann Arbor,United States,"45,912",8.2,17%,50 : 50
23,24,New York University,United States,"36,337",9.8,42%,57 : 43
24,25,Duke University,United States,"16,091",4.2,24%,52 : 48

In [112]:
pd.DataFrame(data).to_excel('Top 25 Universities in The World by THE.xlsx')